* {
    box-sizing: border-box;
}

html {
    color: white;
    background-color: #111;
}

body {
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 8px 8px 0;
}

main {
    padding: 0 8px;
}

footer {
    background-color: firebrick;
    text-align: center;
    clear: both;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    padding: 20px;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}

h1 {
    color: firebrick;
}

img {
    width: 50%;
    max-width: 300px;
    float: right;
}

@media only screen and (max-width: 700px) {
    img {
      width: 75%;
      max-width: none;
      float: none;
    }

    p {
        font-size: 150%;
    }
}
